html {
    background-color: aquamarine;
}

body {
    text-align: center;
}

.days {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dayDivs {
    margin-right: 20px;
    margin-left: 20px;
    padding: 20px;
    background-color: burlywood;
    border-radius: 20px;
}

h1 {
    text-align: center;
}